<div class="container">
  
  <!-- Botón para abrir modal -->
   
<mat-card class="filter-card">
  <h1 class="">📋 Registro de Eventos</h1>

  <button  matTooltip="Haz click para agregar un registro" mat-raised-button class="botonRegistrar" color="primary" (click)="openRegisterModal()">
    Registrar Evento
  </button>
</mat-card>
<mat-card class="filter-card">
  <h2 class="card-title">🔍 Filtrar Eventos</h2>
  <form [formGroup]="filterForm" (ngSubmit)="filter()" class="filter-form">

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Tipo</mat-label>
      <mat-select matTooltip="Haz click aquí para elegir tipo" formControlName="eventType">
        <mat-option value="">Todos</mat-option>
        <mat-option value="API">API</mat-option>
        <mat-option value="Manual">Manual</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Fecha inicio</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="startDate" matTooltip="Haz click en el icono para elegir fecha">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="filter-field">
      <mat-label>Fecha fin</mat-label>
      <input matInput [matDatepicker]="endPicker" formControlName="endDate" matTooltip="Haz click en el icono para elegir fecha">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <button  mat-raised-button color="accent" type="submit" class="filter-button btnFilter" matTooltip="Haz click para buscar un registro">Buscar</button>
  </form>
</mat-card>


  <!-- Tabla de Resultados -->
<mat-card class="event-card" *ngIf="events$ | async as events">
  <h2 class="card-title">📋 Eventos</h2>

  <mat-table [dataSource]="events" class="styled-table">

    <ng-container matColumnDef="eventDate">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let event"> {{ event.eventDate | date:'short' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let event"> {{ event.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="eventType">
      <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let event"> {{ event.eventType }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="no-events" *ngIf="events.length === 0">
    No hay eventos para mostrar.
  </div>
</mat-card>

</div>
