<div class="container">
  <h1>📋 Registro de Eventos</h1>

  <!-- Botón para abrir modal -->
  <button mat-raised-button class="botonRegistrar" color="primary" (click)="openRegisterModal()">
    Registrar Evento
  </button>

  <!-- Filtros -->
  <mat-card class="filterFo">
    <h2>🔍 Filtrar Eventos</h2>
    <form [formGroup]="filterForm" (ngSubmit)="filter()">
      <mat-form-field appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="eventType">
          <mat-option value="">Todos</mat-option>
          <mat-option value="API">API</mat-option>
          <mat-option value="Manual">Manual</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="description" appearance="fill">
        <mat-label>Fecha inicio</mat-label>
        <input matInput [matDatepicker]="startPicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      

      <mat-form-field class="endDate" appearance="fill">
        <mat-label>Fecha fin</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Buscar</button>
    </form>
  </mat-card>

  <!-- Tabla de Resultados -->
<mat-card *ngIf="events$ | async as events">
  <mat-table [dataSource]="events">
    <ng-container matColumnDef="eventDate">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let event"> {{ event.eventDate | date:'short' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let event"> {{ event.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="eventType">
      <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let event"> {{ event.eventType }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div *ngIf="events.length === 0">
    No hay eventos para mostrar.
  </div>
</mat-card>
</div>
